@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-family: IosevkaNerdFont;
  font-size: 13px;
}

window#waybar {
  background-color: shade(@base, 0.9);
  color: @text;
  margin: 5px 5px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-right: 0.5rem;
}

#workspaces button.focused {
  color: @green;
}

#workspaces button.visible {
  color: @green;
}

#workspaces button:hover {
  color: @sapphire;
}

#workspaces button.urgent {
  color: @red;
}

#mode {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
  color: @peach;
}

#bluetooth,
#cpu,
#memory,
#clock,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#language,
#tray,
#mode,
#keyboard-state,
#custom-notification,
#mpd {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 2px 0;
}

#window,
#workspaces {
  margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#notification {
  color: @purple;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
  border-radius: 0px 0rem 0rem 0px;
}

#battery.charging,
#battery.plugged {
  color: @mauve;
}

@keyframes blink {
  to {
    color: @peach;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: @yellow;
}

#network {
  color: @blue;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @blue;
  border-radius: 1rem 0rem 0rem 1rem;
}

#pulseaudio.muted {
  color: @red;
}
#bluetooth {
  color: @green;
}
#bluetooth.disabled {
  color: @red;
}

#language {
  color: @blue;
}

#cpu.idle {
  color: @text;
}

#cpu.normal {
  color: @green;
}

#cpu.warning {
  color: @peach;
}

#cpu.critical {
  color: @red;
}

#memory.idle {
  color: @text;
}

#memory.normal {
  color: @green;
}

#memory.warning {
  color: @peach;
}

#memory.critical {
  color: @red;
}

#keyboard-state {
  color: @green;
}

#keyboard-state > label {
  padding: 0 5px;
}

#tray {
  margin-right: 0rem;
  border-radius: 1rem;
}

#tray * {
  background-color: @surface0;
  color: @text;
}

#tray * :hover {
  background-color: @base;
  color: @blue;
}
#tray menu *:hover * {
  color: @green;
}

#custom-notification.none {
  color: @green;
}

#custom-notification.notification {
  color: @peach;
}
#custom-notification.dnd-notification {
  color: @red;
}
#custom-notification.dnd-none {
  color: @red;
}
